<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'mail_handler', :plugin => 'redmine_mail_handler' %>
<% end %>

<div class="contextual">
  <%= link_to 'Zurück zur Administration', { :controller => 'mail_handler_admin', :action => 'index' }, :class => 'icon icon-back' %>
  <%= link_to 'CSV Export', { :action => 'export', :level => @selected_level, :filter => params[:filter], :format => 'csv' }, :class => 'icon icon-save' %>
</div>

<h2>Mail Handler Logs</h2>

<div class="box">
  <h3>Statistiken</h3>
  <table class="list">
    <tr>
      <td><strong>Gesamt:</strong></td>
      <td><%= @stats[:total] %> Einträge</td>
      <td><strong>Heute:</strong></td>
      <td><%= @stats[:today] %> Einträge</td>
      <td><strong>Diese Woche:</strong></td>
      <td><%= @stats[:this_week] %> Einträge</td>
    </tr>
  </table>
  
  <h4>Nach Level:</h4>
  <table class="list">
    <tr>
      <% @stats[:by_level].each do |level, count| %>
        <td><strong><%= level.upcase %>:</strong></td>
        <td><%= count %></td>
      <% end %>
    </tr>
  </table>
</div>

<div class="box">
  <h3>Filter & Anzeige</h3>
  <%= form_tag({ :action => 'index' }, :method => :get, :local => true) do %>
    <%= hidden_field_tag 'page', @page %>
    <p>
      <label for="level">Log-Level:</label>
      <%= select_tag 'level', 
                     options_for_select([['Alle', '']] + @levels.map { |l| [l.upcase, l] }, @selected_level),
                     :onchange => 'this.form.submit();' %>
      
      <label for="filter" style="margin-left: 20px;">Filter:</label>
      <%= select_tag 'filter',
                     options_for_select([['Alle Logs', ''], ['Journal-Move Logs', 'journal_move']], params[:filter]),
                     :onchange => 'this.form.submit();' %>
      
      <label for="per_page" style="margin-left: 20px;">Einträge pro Seite:</label>
      <%= select_tag 'per_page',
                     options_for_select(@per_page_options.map { |n| [n.to_s, n] }, @per_page),
                     :onchange => 'this.form.submit();' %>
      
      <%= submit_tag 'Anwenden', :class => 'small' %>
    </p>
  <% end %>
</div>

<% if @logs.any? %>
<div class="autoscroll">
  <table class="list logs">
    <thead>
      <tr>
        <th style="width: 150px;">Zeit</th>
        <th style="width: 80px;">Level</th>
        <th>Nachricht</th>
        <th style="width: 60px;">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr class="log-<%= log.level %> <%= cycle('odd', 'even') %>">
          <td class="log-time"><%= log.formatted_time %></td>
          <td class="log-level">
            <span class="<%= log.level_icon %>" style="color: <%= log.level_color %>"></span>
            <%= log.level.upcase %>
          </td>
          <td class="log-message">
            <% if log.has_mail_details? %>
              <div class="mail-details">
                <strong><%= log.truncated_subject(60) %></strong><br>
                <small class="mail-meta"><%= log.mail_details_summary %></small>
              </div>
              <div class="log-text">
                <% if log.message.length > 150 %>
                  <div class="log-message-short">
                    <%= truncate(log.message, length: 150) %>
                    <a href="#" class="toggle-full-message" data-log-id="<%= log.id %>">Mehr anzeigen</a>
                  </div>
                  <div class="log-message-full" id="log-full-<%= log.id %>" style="display: none;">
                    <%= simple_format(h(log.message)) %>
                    <a href="#" class="toggle-short-message" data-log-id="<%= log.id %>">Weniger anzeigen</a>
                  </div>
                <% else %>
                  <%= simple_format(h(log.message)) %>
                <% end %>
              </div>
            <% else %>
              <% if log.message.length > 200 %>
                <div class="log-message-short">
                  <%= truncate(log.message, length: 200) %>
                  <a href="#" class="toggle-full-message" data-log-id="<%= log.id %>">Mehr anzeigen</a>
                </div>
                <div class="log-message-full" id="log-full-<%= log.id %>" style="display: none;">
                  <%= simple_format(h(log.message)) %>
                  <a href="#" class="toggle-short-message" data-log-id="<%= log.id %>">Weniger anzeigen</a>
                </div>
              <% else %>
                <%= simple_format(h(log.message)) %>
              <% end %>
            <% end %>
          </td>
          <td class="buttons">
            <%= link_to 'Details', { :action => 'show', :id => log.id }, :class => 'icon icon-zoom-in' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Paginierung -->
<div class="pagination">
  <div class="pagination-info">
    <p>Zeige <%= (@page - 1) * @per_page + 1 %> bis <%= [@page * @per_page, @total_count].min %> von <%= @total_count %> Einträgen</p>
  </div>
  
  <% if @total_pages > 1 %>
    <div class="pagination-links">
      <% if @page > 1 %>
        <%= link_to '« Erste', { :action => 'index', :page => 1, :per_page => @per_page, :level => @selected_level }, :class => 'first' %>
        <%= link_to '‹ Vorherige', { :action => 'index', :page => @page - 1, :per_page => @per_page, :level => @selected_level }, :class => 'prev' %>
      <% end %>
      
      <% page_start = [@page - 2, 1].max %>
      <% page_end = [page_start + 4, @total_pages].min %>
      <% page_start = [page_end - 4, 1].max if page_end - page_start < 4 %>
      
      <% (page_start..page_end).each do |p| %>
        <% if p == @page %>
          <span class="current"><%= p %></span>
        <% else %>
          <%= link_to p, { :action => 'index', :page => p, :per_page => @per_page, :level => @selected_level } %>
        <% end %>
      <% end %>
      
      <% if @page < @total_pages %>
        <%= link_to 'Nächste ›', { :action => 'index', :page => @page + 1, :per_page => @per_page, :level => @selected_level }, :class => 'next' %>
        <%= link_to 'Letzte »', { :action => 'index', :page => @total_pages, :per_page => @per_page, :level => @selected_level }, :class => 'last' %>
      <% end %>
    </div>
  <% end %>
</div>

<% else %>
<p class="nodata">Keine Log-Einträge gefunden.</p>
<% end %>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // Toggle für lange Log-Nachrichten
    document.querySelectorAll('.toggle-full-message').forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var logId = this.getAttribute('data-log-id');
        var shortDiv = this.closest('.log-message-short');
        var fullDiv = document.getElementById('log-full-' + logId);
        
        shortDiv.style.display = 'none';
        fullDiv.style.display = 'block';
      });
    });
    
    document.querySelectorAll('.toggle-short-message').forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var logId = this.getAttribute('data-log-id');
        var shortDiv = this.closest('.log-message-full').previousElementSibling;
        var fullDiv = this.closest('.log-message-full');
        
        fullDiv.style.display = 'none';
        shortDiv.style.display = 'block';
      });
    });
  });
</script>