<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'mail_handler', :plugin => 'redmine_mail_handler' %>
<% end %>

<div class="contextual">
  <%= link_to 'Zurück zu Logs', { :action => 'index' }, :class => 'icon icon-back' %>
</div>

<h2>Log-Eintrag Details</h2>

<div class="box">
  <table class="attributes">
    <tr>
      <th style="width: 150px;">Zeitstempel:</th>
      <td><%= @log.formatted_time %></td>
    </tr>
    <tr>
      <th>Level:</th>
      <td>
        <span class="<%= @log.level_icon %>" style="color: <%= @log.level_color %>"></span>
        <%= @log.level.upcase %>
      </td>
    </tr>
    <tr>
      <th>Nachricht:</th>
      <td class="log-message-detail">
        <%= simple_format(h(@log.message)) %>
      </td>
    </tr>
    <% if @log.has_mail_details? %>
      <tr>
        <th>Mail-Betreff:</th>
        <td><%= h(@log.mail_subject) if @log.mail_subject.present? %></td>
      </tr>
      <tr>
        <th>Von:</th>
        <td><%= h(@log.mail_from) if @log.mail_from.present? %></td>
      </tr>
      <% if @log.ticket_id.present? %>
        <tr>
          <th>Ticket:</th>
          <td>
            <%= link_to "##{@log.ticket_id}", issue_path(@log.ticket_id), :target => '_blank' if Issue.exists?(@log.ticket_id) %>
            <% unless Issue.exists?(@log.ticket_id) %>
              #<%= @log.ticket_id %> (nicht gefunden)
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @log.mail_message_id.present? %>
        <tr>
          <th>Message-ID:</th>
          <td><code><%= h(@log.mail_message_id) %></code></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="box">
  <h3>Aktionen</h3>
  <p>
    <%= link_to 'Zurück zu Logs', { :action => 'index' }, :class => 'icon icon-back' %>
    <%= link_to 'Alle Logs dieses Levels', { :action => 'index', :level => @log.level }, :class => 'icon icon-list' %>
  </p>
</div>