<h2>Zurückgestellt-Status</h2>

<div class="box">
  <h3>Statistiken</h3>
  <% begin %>
     <div class="stats-box">
       <div class="stats-number"><%= @deferred_stats[:total] %></div>
       <div class="stats-label">Gesamt</div>
     </div>
     <div class="stats-box">
       <div class="stats-number"><%= @deferred_stats[:active] %></div>
       <div class="stats-label">Aktiv</div>
     </div>
     <div class="stats-box">
       <div class="stats-number"><%= @deferred_stats[:expired] %></div>
       <div class="stats-label">Abgelaufen</div>
     </div>
   <% rescue => e %>
     <div class="flash error">Fehler beim Laden der Zurückgestellt-Statistiken: <%= e.message %></div>
   <% end %>
</div>

<div class="box">
  <h3>IMAP-basierte Zurückstellung</h3>
  <p>
    <strong>Hinweis:</strong> Die Zurückstellung erfolgt jetzt über IMAP-Ordner und -Flags. 
    Einzelne E-Mails werden nicht mehr in der Datenbank gespeichert, sondern direkt im 
    IMAP-Ordner "Deferred" verwaltet.
  </p>
  <p>
    Die Statistiken zeigen die aktuellen Zahlen aus dem IMAP-Ordner:
  </p>
  <ul>
    <li><strong>Gesamt:</strong> Alle E-Mails im Deferred-Ordner</li>
    <li><strong>Aktiv:</strong> E-Mails, die noch nicht abgelaufen sind</li>
    <li><strong>Abgelaufen:</strong> E-Mails, die zur Archivierung bereit sind</li>
  </ul>
</div>

<div class="contextual">
  <%= link_to 'Zurück zur Administration', { :action => 'index' }, :class => 'icon icon-back' %>
  <%= link_to 'Zurückgestellte verarbeiten', { :action => 'process_deferred' }, :method => :post, :class => 'icon icon-reload' %>
</div>